html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media screen and (max-width: 1170px) and (min-width: 600px) {
  #monkey {
    position: absolute;
    top: 50px;
    right: 120px;
  }
}
